@import 'base/listas';
@import 'base/mixins';
@import 'components/html';
@import 'components/header';
@import 'components/inicio';
@import 'components/quienes-somos';
@import 'components/lenguajes';
@import 'components/librerias';
@import 'components/cursos';
@import 'components/formulario';
@import 'components/footer';

.disclaimer{
    display: none !important;
}
