*{
    text-transform: capitalize;
    text-decoration: none;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

*,
*::before,
*::after{
    margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;

}


h1{ font-size: 5.5em;}
h2{ font-size: 6.5em;}
h3{ font-size: 2em;}
p{ font-size: 2.5em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


button{
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(138, 0, 143);
}

button:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.6s;
}

body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #000000f6;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .1);
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
   
    
}
header .logo{
    font-weight: bolder;
    font-size: 3.5em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-bottom: 35px;
    
    
   
}
header .logo:hover{
    color: #ff0022;
    transition: 2s;
    transform: rotate(400grad);
    
}
header .navbar ul {
    list-style: none;

}


header .navbar ul li{
    position: relative;
    float: left;

}
header .navbar ul li a{
    padding: 20px;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    display: block;
    
}
header .navbar ul li a:hover{
    color: #ff0303;
    border-radius: 5px;
    box-shadow:  0 0 5px #ff0022,
    0 0 5px #ff0303;
    transition: 0.8s;
}
header .navbar ul li ul{
    position: absolute;
    width: 200px;
    left: 0;
    background: rgb(0, 0, 0);
    display: none;
    
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0, .1);
    
    
}


header .navbar ul li:hover>ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: none;
    font-weight: bolder;
    

}


.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/hero-imagen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero h1{
    color: white;
}

.hero button{
    font-size: 3em;
}

.color-h2-python{
    color: blueviolet;
}

.somos-python .container{
    text-align: center;
    padding: 200px 12px;
}

.somos-python .container{
    display: flex;
    justify-content: center;

}

.somos-python .texto{
    width: 50%;
    max-width: 600px;
    font-size: 0.8em;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.lenguajes-title{
    display: flex;
    justify-content: center;
    font-size: 6em;
    animation-delay: 1.5s;
    animation-delay: 1.5s;
    animation-name: animacion1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animacion1{
    0%{
        color: rgb(255, 255, 255);
        transition: 1s
    }
    
    }



#html{
    background: url(/imagenes/fondo-htmlv1.webp);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
}

#javascript{
    background: url(/imagenes/fondo-js.jpg);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
}

#python{
    background: url(/imagenes/python-fondo.png);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
}
#sql{
    background: url(/imagenes/sql-fondo.jpg);
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;

}

.tarjeta{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

.blog-post{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;

}

.blog-post_img{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}
.blog-post_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}
.blog-post_img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(79, 172, 254, .8), 
                                            rgba(0, 242, 254, .8));
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: .8rem;
}

.blog-post-info2 span{
    display: block;
    color: rgba(0,0,0, .5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;

}

.blog-post_title{
    font-size: 2.5rem;
    margin: 1.5rem  0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.blog-post_text{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0,0,0,.7)
}
.blog-post_cta{
    display: inline;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: 8rem;
    text-decoration: none;
}

.blog-post_cta:hover{
    background-image: linear-gradient(to right, #00f2fe  0%, #4facfe 100%);
}

.libreria{
    background: url(/imagenes/libreria.jpg) fixed;
    background-size: cover;

}

.libreria-title{
    color: #ffffff;
    font-size: 6.5em;
    text-align: center;
    animation-delay: 1.5s;
    animation-name: animacion2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animacion2{
    0%{
        color: rgb(255, 0, 43);
        transition: 1s
    } 
}



.cards {
    margin: 0 auto;
    padding: 150px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 110px;
    font-family: sans-serif;
}
.card{
    transition: all 0.5s;
}

.card:hover{
    transform: scale(1.25);
}

.cards * {
    box-sizing: border-box;
    
}

.card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: linear-gradient(rgba(5,7,12, 0.75), rgba(5,7,12, 0.75));
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}
.card__content p{
    color: #dddbdb;
}
.card__content p:hover{
    color: #b9007c;
    transition: 0.5s;
}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 25px;
    display: flex;
    justify-content: center;
    background:linear-gradient(rgba(5,7,12, 0.75), rgba(5,7,12, 0.75));
    font-size: 2.2em;
    border-top: 2px solid #494849;


}

.cursos-title{
    margin: 0;
    animation-delay: 1.5s;
    animation-name: animacion3;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes animacion3{
    0%{
        transform: translateY(40%);
        color: rgb(209, 0, 209);
        transition: 1s
    }
    100%{
        transform: translateY(-40%);
    }

}


.nuestros-cursos{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
  
    
}

.nuestros-cursos .container{
    padding: 150px 12px;
}


.nuestros-cursos h3{
    color: rgb(209, 0, 209);
}

.nuestros-cursos p{
    display: none;
}
.nuestros-cursos button{
    font-size: 2em;
}

.nuestros-cursos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
    transition: 0.5s;
}

.carta:hover{
      transform: scale(1.08);
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/dev-front-end.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/dev-fullstacks.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/dev-back-end.jpg");

}

.contenedor-form{
    background: url(/imagenes/fondo-formulario.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 15px;
    padding-bottom: 35px;
     
}

.contenedor .form .form-header .form-title{
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
    color:#ff851b;
    padding: 14px 0;
    font-size: 30px;


}

.contenedor .form .form-header .form-title span{
    color: #fff;

}

.contenedor .form{
    background: rgba(0,0,0, .6);
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 50px 35px;
    padding-bottom: 50px;
    margin-top: 38px;
    border-radius: 3px;
}

.contenedor .form .form-label{
    display: block ;
    color: #ff851b;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

.contenedor .form, .form-input, .form-textarea{
    background-color: rgba(0,0,0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

.contenedor, .form, .form-textarea{
    resize: vertical;
    
}

.contenedor .form .btn-submit{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    background-color: #ff851b;
    font-size: 20px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}
.contenedor .form .btn-submit:hover{
    background-color: #6e3809;
}




footer{
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 10px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    
}


.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(imagenes/facebook.png);
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    margin:1rem;
    transition: 0.2s;
}

.social-icon:hover{
    background-color: #db1414;
   
}

.social-icon:nth-of-type(2){
    background-image: url(imagenes/instagramv2.png);
}
.social-icon:nth-of-type(3){
    background-image: url(imagenes/twitter.png);
}
.social-icon:nth-of-type(4){
    background-image: url(imagenes/linkedin.png);
}


.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.copyright{
    font-size: 2em;
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}


@media(max-width:991px){
    header{
        padding: 20px;

    }
    header label{
        display: initial;

    }
    header label:hover{
        color: #ff0022;
        transition: 1s;
    }
    

    
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: rgb(0, 0, 0);
        border-top: 1px solid rgb(104, 104, 104);
        display: none;
    
    }
    
    header .navbar ul li {
        width: 100%;
        position: static
        
    }
    header .navbar ul li ul li{
        background: rgb(0, 0, 0);
    }
    header .navbar ul li ul li{
        width: 100%;
        left: 0;
        
    }
    header .navbar ul li ul li a{
        margin: 2px;
       
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
        
    }
     
}








@media screen and (max-width: 1068px){
    .blog-post{
        max-width: 80rem;

    }
    .blog-post_img{
        min-width: 30rem;
        max-width: 30rem;
    }
}
@media screen and (max-width: 868px){
    .blog-post{
        max-width: 70rem;
     
}
}
@media screen and (max-width: 768px){
    .blog-post{
        padding: 2.5rem;
        flex-direction: column;

    }
    .blog-post_img{
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}

@media (min-width: 850px){
    .hero h1{
        font-size: 5em;
    }
    .somos-python .container{
        display: flex;
        justify-content: space-evenly;
    }

    .somos-python .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .somos-python .img-container{
        background-image: url("imagenes/python-academy.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    .nuestros-cursos .cursos{
        display: flex;
        justify-content: center;
    }
    .nuestros-cursos p{
        display: block;
        font-size: 2.5em;
        margin-bottom: 30px;
    }
    .nuestros-cursos h2{
        font-size: 6em;
    }
    .nuestros-cursos h3{
        font-size: 4em;
        margin-top: 0;
    }
    .nuestros-cursos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }
    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/dev-front-end.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/dev-fullstacks.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/dev-back-end.jpg");

    }
}