/*inicio seccion formulario*/
.formulario-contenedor{
    background: url(/imagenes/fondo-formulario.webp);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 15px;
    padding-bottom: 35px;
    .boton-close{
        padding: 15px;
        color: nth($colores, 21);
        font-size: 0.8em;
        border: 2px solid rgba(0,0,0,0.3);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        background: $gradiente2;
        animation-delay: 1.5s;
        animation-name: animacion4;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    };
    .form{
        background: nth($colores, 23);
        width: 90%;
        max-width: 500px;
        margin: auto;
        padding: 50px 35px;
        padding-bottom: 50px;
        margin-top: 38px;
        border-radius: 3px;
    };
    
    .form-title{
        font-weight: normal;
        font-family: map-get($map: $fuentes, $key: 'cuarta');
        text-align: center;
        color:nth($colores, 17);
        padding: 14px 0;
        font-size: 3em;
    };
    
    span{
        color: nth($colores, 12);
    
    };
    .form-label{
        display: block ;
        color: nth($colores, 17);
        font-size: 18px;
        font-family: map-get($map: $fuentes, $key: 'segunda');
    
    };
    .form-control{
        background-color: nth($colores, 20);
        border: none;
        outline: none;
        border-bottom: 2px solid nth($colores, 17);
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border-radius: 2px;
        font-size: 14px;
        color: nth($colores, 12);
        font-family: map-get($map: $fuentes, $key: 'segunda');
    
    };
    #btn-submit{
        width: 100%;
        font-family: map-get($map: $fuentes, $key: 'segunda');
        outline: none;
        background-color: nth($colores, 17);
        font-size: 20px;
        border: none;
        color: nth($colores, 12);
        padding: 15px 0;
        cursor: pointer;
        transition: ease;
    };
    #btn-submit:hover{
        @include btn-hover(nth($colores, 24))
    };
    
     
};



.contenedor .form, .form-input, .form-textarea{
    background-color: nth($colores, 20);
    border: none;
    outline: none;
    border-bottom: 2px solid nth($colores, 17);
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: nth($colores, 12);
    font-family: map-get($map: $fuentes, $key: 'segunda');
    .form-textarea{
        resize: vertical;  
    };

}

.contenedor-modal{
    font-family:map-get($map: $fuentes, $key: 'segunda');
    .modal-header{
        background-color: nth($colores, 8);
    };
    p{
        font-size: 1.8em;
        text-transform: none;
    };
    .btn-2{
        @include boton2(nth($colores, 9),nth($colores, 18));
    };
    .btn-2:hover{
        @include gradient(nth($colores,18),nth($colores, 9));
    };
    .btn-1{
        @include boton2(nth($colores, 34),nth($colores, 33));
    };
    .btn-1:hover{
        @include gradient(nth($colores, 33),nth($colores, 34));
    };
    button{
        padding: 10px 20px;
        border-radius: 10%;
        font-size: 1.2em;
    };
     
};


@keyframes animacion4{
    0%{
        @include scales(scale(0.50));
    
    };
    100%{
        color: nth($colores, 17);
    }; 
};

/*cierre seccion fomulario*/