@import 'base/variables';

*{
    text-decoration: none !important;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    *::before,
    *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};
    
};

html{
    font-family: map-get($map: $fuentes, $key: 'primera');
    font-size: 0.63em;
    h1{ 
        font-size: 5.5em;
    };
    h2{
         font-size: 6.5em;
    };
    h3{ 
        font-size: 2em;
    };
    p{ 
        font-size: 2.5em;
    };
    li{
         font-size: 1.25em;}

         body{
            margin: 0;
            min-height: 100vh;
            width: 100%;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            
        };

};
