%button{
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 7px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(138, 0, 143);
};
