$colores:
rgb(138, 0, 143),
black,
#000000f6,
#ff0022,
#ff0303,
blueviolet,
#0e0e0e,
#dddbdb,
#b4b4b6,
#424247,
#030303,
#fff,
#4facfe,
rgb(209, 0, 209),
#b9007c,
rgb(30,30,30),
#ff851b,
#8c8c8f,
rgba(0,0,0, .5),
rgba(0,0,0,.7),
#f2f2f2,
#1f1f20,
rgba(0,0,0, .6),
#6e3809,
#db1414,
rgba(50, 50, 50, 1),
#00f2fe,
#4facfe,
rgba(0,0,0,0.5),
rgba(50, 50, 50, 1),
rgb(30,30,30),
#db1414,
rgba(165, 0, 187, 0.781),
rgba(63, 19, 62, 0.87);


