$gradiente1: linear-gradient( 0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5));
$gradiente2: linear-gradient(rgba(5,7,12, 0.75), rgba(5,7,12, 0.75));
$fuentes:(
 'primera' : 'Times New Roman',
 'segunda': 'Arial',
 'tercera': 'helvetica',
 'cuarta': 'sans-serif'
);

